# Gradle
.gradle/
build/
*/build/

# Android Studio / IntelliJ IDEA
.idea/
*.iml

# Local config
local.properties

# NDK/External build
.externalNativeBuild/
.cxx/

# Keystores
*.jks
*.keystore

# Captures, misc
captures/
.DS_Store
Thumbs.db

# OS generated
ehthumbs.db
